@font-face {
    font-family: "Cera Pro Regular";
    src: url(../fonts/CeraPro-Regular.eot) format(eot),
         url(../fonts/CeraPro-Regular.ttf) format(TruType),
         url(../fonts/CeraPro-Regular.woff) format(woff);
         font-weight: 400;
}

@font-face {
    font-family: "Cera Pro Medium";
    src: url(../fonts/CeraPro-Medium.eot) format(eot),
         url(../fonts/CeraPro-Medium.ttf) format(TruType),
         url(../fonts/CeraPro-Medium.woff) format(woff);
         font-weight: 500;
}

@font-face {
    font-family: "Cera Pro Bold";
    src: url(../fonts/CeraPro-Bold.eot) format(eot),
         url(../fonts/CeraPro-Bold.ttf) format(TruType),
         url(../fonts/CeraPro-Bold.woff) format(woff);
         font-weight: 700;
}

@font-face {
    font-family: "Hanged_Letters";
    src: url(../fonts/Hanging_Letters/Hanged_Letters.ttf) format(TruType);
    font-weight: 400;
}

header{
    padding: 30px 120px 0;
}

.header{
    display: flex;
    align-items: start;
    justify-content: space-between;
    border-bottom: 1px solid rgba(70, 163, 88, 0.50);
}

.list-item{
    padding: 8px 0 25px 0;
    position: relative;
    border-bottom: 3px solid transparent;
}

.menu-item-3{
    min-width: 90px;
}

.menu-item-3:hover .sub-list{
    display: contents;
    display: flex;
    flex-direction: column;
    padding-top: 37px;
    position: absolute;
    left: -56px;
    z-index: 1;
}

.sub-list{
    display: none;
}

.sub-list-item{
    background-color: #EDF6EE;
}

.sub-list-item:hover{
    background-color: #1A712A;
}

.sub-list-item:hover .icon-sub-list-item{
    display: contents;
}
.icon-sub-list-item>svg{
    transform: rotate(180deg);
}

.sub-list-item:hover .sub-list-item-link{
    color: #FFF;
    font-family: "Cera Pro Bold";
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

.sub-list-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 18px 8px 14px;
    min-width: 188px;
    min-height: 35px;
}

.sub-list-item-link{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.icon-sub-list-item{
    display: none;
}

.sub-list-item-4:hover .drop-drown-list-item{
    display: contents;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 18px 8px 14px;
    min-width: 188px;
    min-height: 35px;
}

.drop-down-list{
    padding-left: 10px;
    position: absolute;
    left: 180px;
    top: 37px;
    z-index: 1;
}

.drop-drown-list-item{
    display: none;
}

.drop-drown-list-item{
    background-color: #EDF6EE;
}

.drop-drown-list-item:hover{
    background-color: #1A712A;

}

.drop-drown-list-item:hover .drop-drown-list-item-link{
    color: #FFF;
    font-family: "Cera Pro Bold";
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

.drop-drown-list-item-link{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.link-nav{
    font-family: 'Cera Pro Regular';
    font-size: 16px;
    font-weight: 400;
    color: #3D3D3D;
}

.list-item:hover{
    border-bottom: 3px solid #46A358;
}

.list-item:hover .link-nav{
    font-family: "Cera Pro Bold";
    font-size: 16px;
    font-weight: 700;
    color: #3D3D3D;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
}

.btn-log{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 18px;
    gap: 4px;
    border-radius: 6px;
    background-color: #46A358;
}

.btn-log>a{
    color: #FFFFFF;
    font-family: "Cera Pro Medium";
    font-weight: 500;
    font-style: 16px;
}

.section-main{
    padding: 12px 120px 0;
}

.section-main-info{
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F580;
}

.comtainer-info{
    padding: 68px 93px 85px 40px;
}

.welcome-text{
    font-family: "Cera Pro Medium";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.slogan{
    margin-top: 7px;
    font-family: "Cera Pro Bold";
    font-weight: 700;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    max-width: 530px;
}

.text-color-green{
 color: #46A358;
}

.info-text{
    margin-top: 5px;
    font-family: "Cera Pro Regular";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    max-width: 557px;
}

.shop-now{
    margin-top: 44px;
    padding: 11px 27px 9px;
    border-radius: 6px;
    background-color: #46A358;
    font-family: "Cera Pro Bold";
    font-weight: 700;
    font-style: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.container-main-product{
    position: relative;
}

.product-img-position{
    position: absolute;
    top: 298px;
    left: 55px;
}

.section-shop{
    padding: 46px 120px 0;
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.container-categories{
    background-color:#FBFBFB;
}

.categories-text{
    padding: 14px 199px 7px 18px;
    font-family: "Cera Pro Bold";
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    padding-right: 10px;
    color: #3D3D3D;
}

.list-categories{
    padding:  0 189px 377px 30px;
}

.list-categories-item{
    font-family: "Cera Pro Regular";
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    color: #3D3D3D;
}

.list-categories-item.active{
    font-family: "Cera Pro Bold";
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    color: #46A358;
}

.comtainer-sale{
    min-width: 370px;
    min-height: 370px;
}


.comtainer-main-shop{
    max-width: 840px;
}

.comtainer-short-by{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.short-by{
    display: flex;
    align-items: center;
    gap: 40px;
}

.short-by-list{
    padding-bottom: 7px;
    font-family: "Cera Pro Regular";
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #3D3D3D;
}

.short-by-list.active{
    border-bottom: 2px solid #46A358;
    font-family: "Cera Pro Bold";
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    color: #46A358;
}

.default-sorting{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.container-text-sorting{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.text-sorting{
    font-family: "Cera Pro Regular";
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #3D3D3D;
}

.section-shop-card{
    margin-top: 30px;
}

.container-shop-card{
    display: flex;
    flex-wrap: wrap;
    row-gap: 70px;
    column-gap: 30px;
}

.shop-card:hover .shop-card-icon{
    display: contents;
    display: flex;
    min-width: 125px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 7px;
}

.shop-card.shop-card-border{
    border-top: 1px solid transparent;
}

.shop-card.shop-card-border:hover{
    border-top: 1px solid #46A358;
}


.background-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FBFBFB;
    position: relative;
}

.shop-card-icon{
    display: none;
}

.card-icon{
    padding: 6px 8px 6px 8px;
    border-radius: 4px;
    background-color: #fff;
}

.card-icon>a>svg{
    fill: #000;
}

.card-icon>a:hover>svg{
    fill: #46A358;
}

.block-sele{
    position: absolute;
    left: 0;
    top: 14px;
    padding: 7px 9px 7px 9px;
    color: #FFF;
    background-color: #46A358;
    text-align: center;
    vertical-align: center;
    font-family: "Cera Pro Medium";
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
}

.card-img{
    width: 250px;
    height: 250px;
}

.card-text{
    margin-top: 12px;
    font-family: "Cera Pro Regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #3D3D3D;
}

.container-card-price{
    margin-top: 6px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-price-sale{
    color: #A5A5A5;
    font-family: "Cera Pro Regular";
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
}

.card-price{
    font-family: "Cera Pro Bold";
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #46A358;
}

.section-shop-footer{
    padding: 90px 120px 0;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.page-number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
}

.page-number.active{
    background-color: #46A358;
}

.page-number.active>span.page-number-text{
    color: #FFF;
    font-family: "Cera Pro Bold";
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
}

.page-number-text{
    font-family: "Cera Pro Bold";
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    color: #3D3D3D;
}

.section-info-more{
    padding: 100px 120px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}

.container-info-more{
    position: relative;
    background-color: #FBFBFB;
    min-width: 586px;
    display: flex;
    align-items: center;
}

.info-more{
    padding: 37px 30px 46px 264px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 25px;
}

.info-more-text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.info-more-text{
    max-width: 146px;
    font-family: "Cera Pro Bold";
    text-align: right;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #3D3D3D;
}

.info-more-text-pr{
    max-width: 292px;
    font-family: "Cera Pro Regular";
    text-align: right;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
}

.btn-find-more{
    width: 140px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: #46A358;
    text-align: center;
    color: #FFF;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.container-info-more-img{
    position: absolute;
    bottom: 10px;
    left:0;
}

.section-posts{
    padding: 138px 120px 100px;
}

.head-post-text{
    color: #3D3D3D;
    text-align: center;
    font-family: "Cera Pro Bold";
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
}

.subtitle-post-text{
    margin-top: 15px;
    color: #727272;
    text-align: center;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.container-posts{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    gap: 43px;
}

.card-post{
    max-width: 268px;
    background-color: #FBFBFB;
}

.card-post-info{
    padding: 9px 13px 9px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.interaction-card-time{
    color: #46A358;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.head-card-post{
    max-width: 202px;
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}

.subtitle-card-post{
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.post-link{
    padding: 0 164px 13px 14px;
}

.read-more-card-linc{
    display: flex;
    align-items: center;
    gap: 3px;
    color: #3D3D3D;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.read-more-card-linc.active{
    display: flex;
    align-items: center;
    gap: 3px;
    color: #46A358;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}
